.header {
  background: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 28px -9px rgba(0, 0, 0, 0.4);
}

.menu-trigger {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgb(250, 180, 73);
  padding: 10px;
}

.menu-trigger:hover {
  cursor: pointer;
}
