.site-card-wrapper {
  padding: 30px;
  background: #fff7df;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100vh;
}

.login-card {
  min-width: 400px;
  min-height: 550px;
  border-radius: 10px;
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.5);
}

.login-input {
  min-width: 300px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-form-forgot {
  color: #ff8a00;
}
.login-form-forgot:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ff8a00;
  border-color: #ff8a00;
}

.ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 2px solid #ff8a00 !important;
  z-index: 2;
  color: #ff8a00;
}

.login-form-button {
  background-color: #ff8a00;
  border-color: #ff8a00;
  min-width: 300px;
}
.login-form-button:hover {
  background-color: #fda33d;
  border-color: #fda33d;
  width: 100%;
}

.fb-login-form-button {
  background-color: #4b629e;
  border-color: #4b629e;
  width: 100%;
}
.fb-login-form-button:hover {
  background-color: #1590d8;
  border-color: #1590d8;
  width: 100%;
}

.login-button-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
