@import '~antd/dist/antd.css';
.App {
  width: 100vw;
  min-height: 100vh;
}

.App-guest {
  width: 100%;
  height: 100vh;
}

.site-layout .site-layout-background {
  background: #fff;
}

.content {
  margin: 24px 16px;
  padding: 24px;
  min-height: 380px;
  box-shadow: 0px 5px 28px -9px rgba(0, 0, 0, 0.2);
}
